*{
    margin: 0px;
    padding: 0px;
  }
  body{
    background: #FC354C;
  }
  #n1{
    background: green;
  }
  #n2{
    background: green;
  }
  button{
        height: 100px;
        width: 100px;
        background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(249,0,0,1) 57%, rgba(252,176,69,1) 100%);
  
      }